<h2>Тестове завдання Artcom venture, GmbH</h2>
<div class="wrapper">
  <div class="one">
    <table>
      <thead>
        <tr>
          <th class="title">Title</th>
        </tr>
      </thead>

      <tbody *ngFor="let film of films; let i = index">
        <tr (click)="showWindow()">
          <td class="list" (click)="onSelec(film)">
            {{i+1}}. {{ film.Title }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="two" *ngIf="toggle">
    <table>
      <thead>
        <tr>
          <th class="title">Details</th>
        </tr>
      </thead>

      <tbody *ngIf="selectedFilm">
        <tr  class="detailList">
          <td>
            <label for="title"> <b>Title:</b> </label>
            <p *ngIf="selectedFilm.Title; else showBlock">
              {{ selectedFilm.Title }}
            </p>
          </td>

          <td>
            <label for="description"> <b>Descriptions:</b> </label>
            <p *ngIf="selectedFilm.Description; else showBlock">
              {{ selectedFilm.Description }}
            </p>
          </td>

          <td>
            <label for="price"> <b>Price:</b> </label>
            <p *ngIf="selectedFilm.Price; else showBlock">
              {{ selectedFilm.Price | currency}}
            </p>
          </td>

          <td>
            <label for="code"> <b> Code:</b> </label>
            <p *ngIf="selectedFilm.Code; else showBlock">
              {{ selectedFilm.Code }}
            </p>
          </td>

          <ng-template #showBlock>
            <p class="unknown">It's unknown</p>
          </ng-template>
        </tr>
      </tbody>
    </table>

    <button 
        class="btn" 
        type="button" 
        (click)="closeWindow()"
    >
        Close
    </button>
  </div>
</div>
